/* .carousel-indicators{
  display: table-row;
}

.carousel-indicators button[data-bs-target] img{
  width: 100px;
  height: 70px;
  border: 1px solid gray;
}



.carousel-indicators button[data-bs-target]{
    width: 100px;
  }

  .carousel-indicators button[data-bs-target]:not(.active){
    opacity: 0.5;
  }



.carousel-inner{
  width: 100%;
  height: 500px;
} */


ul.thumb li img {
  width: 80px;
  height: 80px;
  border: 1px solid grey;
}

.gallery-wrap .img-big-wrap img {
  height: 350px;
  width: auto;
  display: inline-block;
}