{% load static %}

<footer class="section-footer border-top bg-light">
    <div class="container">
        <section class="footer-bottom border-top row">
            <div class="col-md-3">
                <p class="text-muted"> &copy 2022 © Все права защищены. </p>
                <a href="https://leon161.ru/" class="brand-wrap">
                    <img class="logo" src="{% static '/images/logoleon.png' %}">
                </a>
            </div>
            <div class="col-md-2" style="font-size: 12px">
                <p><a class="text-muted" href="/">ГЛАВНАЯ</a></p>
                <p><a class="text-muted" href="/">УСЛУГИ</a></p>
                <p><a class="text-muted" href="/">ИНФОРМАЦИЯ</a></p>
            </div>
            <div class="col-md-2" style="font-size: 12px">
                <p><a class="text-muted" href="/">О КОМПАНИИ</a></p>
                <p><a class="text-muted" href="/">ОПЛАТА И ДОСТАВКА</a></p>
                <p><a class="text-muted" href="/">КОНТАКТЫ</a></p>
            </div>
            <div class="col-md-2" style="font-size: 12px">
                <p><a class="text-muted" href="/">О КАТАЛОГ</a></p>
                <p><a class="text-muted" href="/">НОВОСТИ</a></p>
                <p><a class="text-muted" href="/">ОПТОВИКАМ</a></p>
            </div>
            <div class="col-md-3 text-md-left">
                <p><i class="fa fa-envelope"></i> <span class="px-2">ecodom107@yandex.ru</span></p>
                <p><i class="fa fa-phone"></i> <span class="px-2">+7 (800) 444-32-16</span></p>
                <p><i class="fa-solid fa-location-dot"></i><span class="px-2">ул. Красинская, 118 , Шахты</span></p>
            </div>
        </section>
    </div><!-- //container -->
</footer>