{% extends 'base.html' %}
{% load static %}

{% block content %}



<!-- ========================= КАРУСЕЛЬ ========================= -->
<section class="section-intro padding-y-sm">
    <div class="container">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active " data-bs-interval="5000">
                    <img src="{% static 'images/carousel1.png' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>ОПЕРАТИВНАЯ ДОСТАВКА</h5>
                        <p>Заказавшему товар на сайте, доставка в пределах города и по области!</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="{% static 'images/carousel2.png' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>ГАЗОБЛОК И КИРПИЧ</h5>
                        <p>Только у нас - качество, гарантия и оперативная доставка</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="{% static 'images/carousel3.png' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>ЭЛЕКТРО И БЕНЗОИНСТРУМЕНТ</h5>
                        <p>HUTER - немецкое качество!</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>
<!-- ========================= КАРУСЕЛЬ END ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
    <div class="container">

        <header class="section-heading">
            <a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
            <h3 class="section-title">Popular products</h3>
        </header>


        <div class="row">
            {% for product in products %}
                <div class="col-md-3">
                    <div class="card card-product-grid">
                        <a href="{{ product.get_url }}" class="img-wrap"> <img src="{{ product.images.url }}"> </a>
                        <figcaption class="info-wrap">
                            <a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
                            <div class="price mt-1">$ {{ product.price }}</div>
                            <div class="rating-star">
                                <span>
                                    <i class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half-o {% endif %}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half-o {% endif %}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half-o {% endif %}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half-o {% endif %}"
                                        aria-hidden="true"></i>
                                    <i class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half-o {% endif %}"
                                        aria-hidden="true"></i>
                                </span>
                            </div>
                        </figcaption>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- ========================= SECTION  END ========================= -->

{% endblock %}